root { 
    display: block;
}

html,body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	font-family: arial sans-serif;
	background-color: #e3d8b8;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	position: relative;
}
.welcometext{
        font-size: 24px;
        color: #556648;
        text-align: center;
        
}
a {
	color: #e3d8b8;
	text-decoration: none;
}

a:hover {
        color: #fff;
}

.centered {
	text-align: center;
}

.right-aligned {
	text-align: right;
}

.left-aligned {
	float: left;
}


/*Items and text fragments*/
select {
	width: 70%;
}

.statement {
	text-align: justify;
	padding: 25px;
        width: 850px;
}

/*Page components*/
#content {
	padding-bottom: 50px;
}

#header {
	background-color: #cc9e6c;
	font-size: 56px;
	font-weight: 800;
        color: #728565;
	text-align: center;
	height: 100px;
}

#footer {
	background-color: #cc9e6c;
	font-style: italic;
	font-size: 14px;
	text-align: center;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px;
	position: absolute;
}

#identification_form{
	background-color: #829475;
	text-align: center;
        margin-top: 15px;
        margin-right: 25px;
	padding: 5px;
        border-radius: 5px 5px 5px 5px;
        box-shadow: 0 0 10px #000; 
        position: relative;
        height: 150px;
        width: 350px;
        float: right;
}

#menustrip {
	background-color: #718a69;
	font-size: 20px;
	font-weight: 300;
	padding: 5px;
}

.menuitem {
	margin: 0px;
        border-right: 4px solid #cc9e6c; /* правый бордер */
        border-radius: 0 15px 15px 0; /* скругляем борбер */
        padding: 5px 8px 5px 5px; /* небольшие отступы */
        
}


#username {
	color: yellow;
	font-family: monospace;
}