<?xml version="1.0" encoding="UTF-8" ?>
        
<taglib> xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-jsptaglibrary_2_1.xsd"
    version="2.1">
    
  <uri>periodical</uri>
  <tlib-version>2.1</tlib-version>
  <jsp-version>2.1</jsp-version>
  <short-name>md</short-name>
  <description>Custom tag library.</description>
  <tag>
    <name>datetime</name>
    <tag-class>ua.kiev.epam.periodical.tags.DateTimeTag</tag-class>
    <attribute>
      <name>locale</name>
      <required>true</required>
      <rtexprvalue>true</rtexprvalue>
      <type>java.util.Locale</type>
      <description>Locale for date/time output.</description>
    </attribute>
    <attribute>
      <name>style</name>
      <required>true</required>
      <rtexprvalue>false</rtexprvalue>
      <type>java.lang.Integer</type>
      <description>Date/time display style. Integer value from 0 to 4.</description>
    </attribute>
  </tag>
</taglib>